@{
    ViewData["Title"] = Resources.Resource.Articles;
}

<div class="text-center">
    <h1 class="display-4">@Resources.Resource.Articles</h1>

    <partial name="_PostList" />
    <partial name="_Pagination" />
</div>
