@model Post;
@{
    ViewData["Title"] = "Створити публікацію";
}

<div class="text-center">
    <div>
        <h3>Створити публікацію</h3>

        <form asp-controller="Home" asp-action="Create" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <div class="form-group">
                    <input type="hidden" asp-for="Author" class="form-control" value="@User.Identity?.Name" readonly>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TypeId"></label>
                    <select asp-for="TypeId" asp-items="@ViewBag.SelectItems" class="form-control"
                        id="TypeIdSelect"></select>
                    <span asp-validation-for="TypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TitleImage"></label>
                    <input asp-for="TitleImage" name="file" type="file"
                        accept="image/jpg,image/jpeg,image/png,image/gif" class="form-control">
                    <span asp-validation-for="TitleImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tags"></label>
                    <input asp-for="Tags" class="form-control">
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>

                <div id="HidedFields" style="display: none;">
                    <div class="form-group">
                        <label asp-for="ReviewGameId"></label>
                        <input asp-for="ReviewGameId" value="0" class="form-control">
                        <span asp-validation-for="ReviewGameId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReviewPlus"></label>
                        <input asp-for="ReviewPlus" class="form-control">
                        <span asp-validation-for="ReviewPlus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReviewMinus"></label>
                        <input asp-for="ReviewMinus" class="form-control">
                        <span asp-validation-for="ReviewMinus" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReviewRating"></label>
                        <input asp-for="ReviewRating" value="50" class="form-control">
                        <span asp-validation-for="ReviewRating" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <button type="submit" class="btn btn-success">Опублікувати</button>

        </form>

        <a href="/Home">Назад</a>
    </div>
</div>

@section Scripts {
    <script>
        // Логіка для відображення/приховування полів в залежності від значення TypeId
        document.getElementById('TypeIdSelect').addEventListener('change', function () {
            var selectedValue = this.value;
            var hidedFields = document.getElementById('HidedFields');

            if (selectedValue === 'Огляд') {
                hidedFields.style.display = 'block';
            }
            else {
                hidedFields.style.display = 'none';
            }
        });
    </script>
}