@using Microsoft.AspNetCore.Identity
@using GameSite.Data
@inject UserManager<ApplicationUser> UserManager
@model Post;
@{
    ViewData["Title"] = Resources.Resource.Edit;
    var user = await UserManager.GetUserAsync(User);
}

<div class="text-center">
    <div>
        <h3>@Resources.Resource.Edit</h3>

        <form asp-controller="Home" asp-action="Edit" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <div class="form-group">
                    <input type="hidden" asp-for="Author" class="form-control" value="@user?.Name" readonly>
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="AuthorId" class="form-control" value="@user?.Id" readonly>
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TypeId"></label>
                    <select asp-for="TypeId" asp-items="@ViewBag.SelectItems" class="form-control"
                        id="TypeIdSelect"></select>
                    <span asp-validation-for="TypeId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="TitleImage"></label>
                    <input asp-for="TitleImage" name="file" type="file" class="form-control">
                    <span asp-validation-for="TitleImage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea id="editor" asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Tags"></label>
                    <input asp-for="Tags" class="form-control">
                    <span asp-validation-for="Tags" class="text-danger"></span>
                </div>

                <div id="HidedFields" style="display: none;">
                    <div class="form-group">
                        <label asp-for="ReviewGameId"></label>
                        <input asp-for="ReviewGameId" value="0" class="form-control">
                        <span asp-validation-for="ReviewGameId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ReviewPlus"></label>
                        <textarea asp-for="ReviewPlus" class="form-control"></textarea>
                        <span asp-validation-for="ReviewPlus" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ReviewMinus"></label>
                        <textarea asp-for="ReviewMinus" class="form-control"></textarea>
                        <span asp-validation-for="ReviewMinus" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ReviewRating"></label>
                        <input asp-for="ReviewRating" value="50" class="form-control">
                        <span asp-validation-for="ReviewRating" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">@Resources.Resource.Edit</button>

        </form>

        <a href="/">@Resources.Resource.Back</a>
    </div>
</div>

@section Scripts {
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });

        document.addEventListener('DOMContentLoaded', function () {
            var typeIdSelect = document.getElementById('TypeIdSelect');
            var hidedFields = document.getElementById('HidedFields');

            function toggleFieldsVisibility() {
                var selectedValue = typeIdSelect.value;
                if (selectedValue === 'Огляд') {
                    hidedFields.style.display = 'block';
                }
                else {
                    hidedFields.style.display = 'none';
                }
            }

            toggleFieldsVisibility(); // Викликати при завантаженні сторінки
            typeIdSelect.addEventListener('change', toggleFieldsVisibility); // Додати обробник події для вибору
        });
    </script>
}
