@using Humanizer
@using PagedList.Core
@using PagedList
@using GameSite.Models
@model IEnumerable<Post>
@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">

    <div class="pagging">
        <ul>
            @if (ViewBag.Page > 1)
            {
                <li>@Html.ActionLink(Resources.Resource.Back, "Index", new { page = ViewBag.Page - 1 })</li>
            }
            else
            {
                <li><span class="empty-placeholder"></span></li>
            }

            @for (int i = 1; i <= ViewBag.TotalPages; i++)
            {
                <li><a asp-controller="Home" asp-action="Index" asp-route-page="@i">@i</a></li>
            }

            @if (ViewBag.Page < ViewBag.TotalPages)
            {
                <li>@Html.ActionLink(Resources.Resource.Next, "Index", new { page = ViewBag.Page + 1 })</li>
            }
        </ul>
        <div class="cleaner"></div>
    </div>

    <partial name="_PostList" />

</div>
