@using Humanizer
@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <partial name="_PostList" />

    <div>
        <p>
            <a asp-action="Index" asp-route-id="">Попередня сторінка</a>
            <a asp-action="Index" asp-route-id="">Наступна сторінка</a>
        </p>
    </div>
</div>
