@{
    ViewData["Title"] = Resources.Resource.Reviews;
}

<div class="text-center">
    <h1 class="display-4">@Resources.Resource.Reviews</h1>

    <partial name="_PostList" />
    <partial name="_Pagination" />

</div>
