@using Microsoft.AspNetCore.Identity
@using GameSite.Data
@using Humanizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model Comment;
@{
    ViewData["Title"] = "SetRole";
}

<div class="text-center">

</div>