@using Microsoft.AspNetCore.Identity
@using GameSite.Data
@inject SignInManager<ApplicationUser> SignInManager

@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Список користувачів";
}

<h1>@Resources.Resource.UserList</h1>
<ul>
    @foreach (ApplicationUser user in Model)
    {
        @if (user == null)
        {
            <li>Користувачів нема</li>
        }
        else
        {
            <li>
                <p><b>Email:</b> @user?.Email</p>
                <p><b>UserName:</b> @user?.UserName</p>
                <p><b>Name:</b> @user?.Name</p>
                <p><b>PhoneNumber:</b> @user?.PhoneNumber</p>
                <p><b>Role:</b> @user?.Role</p>
                <p><b>Age:</b> @user?.Age</p>
                <p><b>Дата реєстрації:</b> @user?.RegistrationDate</p>
                <br>
            </li>
        }
    }
</ul>
