@page
@model AccessDeniedModel
@{
    ViewData["Title"] = Resources.Resource.AccessDenied;
}

<header>
    <h1 class="text-danger">@Resources.Resource.AccessDenied</h1>
    <p class="text-danger">@Resources.Resource.AccessDeniedDescription</p>
</header>
