@page
@model LogoutModel
@{
    ViewData["Title"] = Resources.Resource.SignOut;
}

<header>
    <h1>@Resources.Resource.SignOut</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">
                    @Resources.Resource.ClickHereToExit</button>
            </form>
        }
        else
        {
            <p>@Resources.Resource.YouSuccessfullyExitedTheSite</p>
        }
    }
</header>
