<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/3108f1a1-39ea-4543-99ce-36a6bb227dd0/resourceGroups/DefaultResourceGroup-PLC/providers/Microsoft.ContainerRegistry/registries/IgroNewsUa</ResourceId>
    <ResourceName>IgroNewsUa</ResourceName>
    <ResourceGroup>DefaultResourceGroup-PLC</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>igronewsua.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ProjectGuid>277aa5f7-1852-48f3-b5bc-ca1400884de0</ProjectGuid>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
    <_TargetId>NetSdkAzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>