/* Сторінка показа поста */
.show-post {
    background-color: rgb(255, 255, 255);
    align-items: left;
    padding: 20px;
    margin-bottom: 20px;
}

p.author-date {
    color: #828282;
    font-size: 18px;
    margin-top: 10px;
}

p.author-date b {
    color: #007bff;
    font-weight: bold;
    margin-left: 5px;
}

div.review-rating {
    background-color: #99cd00;
    color: #577400;
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

p {
    font-size: 17px;
}

a[data-wpel-link='external'] {
    color: #077fff;
    text-decoration: none;
    font-weight: normal;
}

img {
    width: 95%;
    height: auto;
    display: block;
}

.savedPost {
    color: red;
}

blockquote {
    color: #686868;
    background: #d0e0f0;
    border-left: 10px solid rgb(22, 102, 199);
    padding: 10px;
    padding-bottom: 0.5px;
}

.review-title-plus {
    color: white;
    background-color: #99cd00;
    align-items: center;
    height: 45px;
    padding: 3px;
    border-radius: 7px;
}

.review-title-minus {
    color: white;
    background-color: red;
    align-items: center;
    height: 45px;
    padding: 3px;
    border-radius: 7px;
}

.review-info {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.review-info > * {
    margin: 0 5px; /
}

.review-info__rating {
    background-color: #99cd00;
    border-radius: 7px;
    align-items: center;
    padding: 10px;
    width: 30%;
    margin-right: 10px;
}

.review-info__other {
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.review-info__other > div {
    margin-bottom: 20px;
}

.review-info__other h3 {
    color: #333;
    margin-bottom: 10px;
}

.review-plus {
    padding: 10px;
    min-width: 300px;
    margin-right: 11px;
}

.review-minus {
    padding: 10px;
    min-width: 300px;
}

.ul-null {
    list-style-type: none;
    padding-left: 0;
}

.icon-dot-a:before {
    color: #9dcb12;
    content: '\2022'; /* Замініть на вашу іконку */
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.icon-dot-b:before {
    color: rgb(216, 15, 15);
    content: '\2022'; /* Замініть на вашу іконку */
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.toast {
    color: #ffffff;
    background-color: #343a40;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
    max-width: 100%;
    z-index: 10000;
}

a.nav-link.text-dark {
    color: black;
    transition: color 0.3s ease;
}

a.nav-link.text-dark:hover {
    color: #258cfb;
}
